@import 'peepv';

.peep-card{
  border-radius: 20px !important;
  background-color: $peep-background;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;

  .peep-card-body-media{
    text-align: center;
    margin: auto;
    background-color: #fff;

  }
  .peep-card-body-media img{
    border-radius: 20px;

  }
  .peep-card-header{
    background-color: $peep-background;
    padding-left: 2px !important;
    padding-right: 2px !important;
  }

  .peep-user-title{
    font-size: 16px;
    font-weight: 600;
  }

  .peep-user-username, .peep-date-info{
    display: block;
    color:rgb(101, 119, 134);
  }

  .peep-user-username::before{
    content:'@';
    width: 10px;
    height: 10px;
    position: relative;
    color:rgb(101, 119, 134);
  }

  .peep-card-body-text{
    font-size: 18px;
  }

  .peep-user-info{
    padding: 5px;
  }

.peep-card-body-image{
  opacity:0;
  max-width:250px;
}
.peep-card-body-image-bg{
  margin: 4px;
  padding: 4px;
  // border: 1px solid #1da1f2;
  padding:2px;
  border-radius:20px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  max-height: 250px;
  height: 100%;
}
.peep-count-container{
  width: 100%;
  text-align: center;
  margin-top:3px;
}
.peep-count{
  padding: 2px 0;
  // border-top: 1px solid #1da1f2;
  border-bottom: 1px solid #1da1f2;
  color:#1da1f2;
  letter-spacing:1px;
  font-weight: 600
}

#followers-count, #following-count{
  font-weight: bold;
  font-size:15px;
}

.profile-followers-container{
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

}


.peep-actions-line{padding:5px}
.peep-actions-inner{display:inline-block;}
.upload-media i{font-size: 25px;  padding:10px; color:rgb(29 161 242);}
.peep-action-post{  position:relative}
.peep-action-post form{  padding:5px 0}
.peep-action-post button{background-color:rgb(29 161 242); color:white; font-weight: 600; border-radius:30px; padding: 10px 20px;}
.peep-action-post::before{
  content:'';
  position:absolute;
  border-color: rgba(0, 0, 0, 0.1);
  border-style: solid;
  border-width: 0 1px 0 0;
  height: 100%;
  left:-10px;
  top:0;

}
input[type=file]::-webkit-file-upload-button { /* chromes and blink button */
  cursor: pointer;
}
.image-upload input {
  cursor: pointer;
  opacity: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0
}
.image-upload {
  display: inline;
  width: 100%;
  height: 45px;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 20px;
  position: relative;
  text-align: center;
  background: transparent;
  color: #666;
  overflow: hidden
}
#peep-image-preview {
  max-width: 150px;
  display: inline;
  width: auto;
  height: auto;
  max-height: 400px;
  width: 100%;
  border-radius: 5px;
  overflow: hidden
}

#peep-image-preview-remove{cursor: pointer;color:#f73c33}

.card-header:last-child{
  border:none !important;
}
