textarea{border:none;overflow:auto;outline: none !important;-webkit-box-shadow: none !important;-moz-box-shadow: none;box-shadow: none !important;resize: none;}

.avatar-container{
  padding: 4px;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  text-align: center;
  img.avatar{
    width:100%;
    border:1px solid #1da1f2;
    border-radius:80px;
    padding: 2px;
    max-width:150px;
  }
}

.spacer-140{
  margin-top:140px;
}
.spacer-10{
  margin-top:10px;
}

.divider::after{
  content:'';
  height:100%;
  width:1px;
  margin: 0 5px;
}

.btn{
  min-width:120px;
}

.paginator{
  text-align: right;
  padding: 10px;
}
.container{
  margin-bottom:20px
}

.avatar-image-preview-container, #avatar-image-preview{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width:250px;
  height:250px;
  margin:auto;
  border-radius:150px;
}

#avatar-image-preview-remove{
  cursor: pointer;
}

.avatar-submit{background-color:rgb(29 161 242); color:white; font-weight: 600; border-radius:30px; padding: 10px 20px;}
.avatar-submit button{
  background: transparent;
    box-shadow: none;
    border: none;
    color: #fff;
}

.avatar-actions-line{
  display:inline-block
}
